@import "../../global-style/variables.less";

.app-button {
  border-radius: 8px;
  padding: 12px;
  margin: 0 0.5ch;
  background: @button-bg;
  color: @button-fg;
  transition: background-color 0.3s ease-out;
}

.app-button:hover {
  background: lighten(@button-bg, 10%);
}


/* Variants */
.app-button-secondary {
  background: @button-secondary-bg;
  color: @button-secondary-fg;
}

.app-button-secondary:hover {
  background: lighten(@button-secondary-bg, 10%);
}


/* Sizes */
.app-button-small {
  font-size: 0.9em;
  padding: 6px 12px;
}

.app-button-large {
  font-size: 1.2em;
  font-weight: 100;
}
