@import "./variables.less";

body {
  font-family: @font-family;
  color: @font-color;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul,
ol,
form {
  margin: 0;
  padding: 0;
}

img {
  border-width: 0; // avoid border inside links
}

table {
  border-collapse: separate;
}

td {
  padding: 0;
  border: 0;
}

pre {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0 0 0.2em;
  padding-top: 0.5em;
}

h1 {
  font-size: 1.5em;
  color: @dark-color;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

label {
  display: block;
  font-size: 0.9em;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

:link, :visited {
  color: @link-color;
}

input[type="text"] {
  border: 1px solid #c0c0c0;
}
