style {
  .app-notifications {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 500px;
  }
}

<div.app-notifications>
  <for|notification| of=state.notifications>
    <app-notification key=notification.id ...notification/>
  </for>
</div>
