<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>
      <${data.title}/>
    </title>
    <!-- <link> tags to include optimized CSS URLs will be included below: -->
    <${data.styles}/>
  </head>
  <body>
    <div class="container">
      <h1>
        <${data.title}/>
      </h1>
      <main id="main">
        <${data.body}/>
      </main>
    </div>
    <!-- <script> tags to include optimized JS URLs will be included below: -->
    <${data.scripts}/>
  </body>
</html>
