@import "~purecss/build/tables.css";

.app-fetch-data-loading {
  background: url("./loading.svg");
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}

.table-container {
  max-height: 400px;
  overflow: auto;
}
