class {
  onInput({ message, timeout }) {
    this.state = {
      timeout,
      message
    };
  }

  onMount() {
    setTimeout(() => {
      this.el.style.opacity = "1";
      this.el.style.maxHeight = "60px";
    }, 10);
  }

  fadeOut(callback) {
    this.el.style.opacity = "0";
    setTimeout(callback, 300);
  }
}

<div.app-notification>$!{data.message}</div>
